<!DOCTYPE html>
<html>
<head>
  <title>Parque de diversiones</title>
  <link rel="stylesheet" href="static/css/index.css" />
</head>
<body background="static/img/fondo.gif">
  <center>

  <header><h1>PARQUE DE DIVERSIONES</h1></header>



  <menu>
    <div class="circulo">  <div class="uno op1 "><a href="{{url_for('static' , filename='html/barco.html')}}">El barco</a></div>

       <div class="dos op2"><a href="{{url_for('static' , filename='html/rueda_fortuna.html')}}">Rueda de la fortuna</a></div>

       <div class="tres op3"><a href="{{url_for('static', filename='html/kamikaze.html')}}">El martillo</a></div>

       <div class="cuatro op4"><a href="{{url_for('static', filename='html/carritos_chocones.html')}}">Carritos </br>
         chocones</a></div>

       <div class="cinco op5"><a href="{{url_for('static', filename='html/montaña_rusa.html')}}">Montaña Rusa</a></div>

       <div class="seis op6"><a href="{{url_for('static', filename='html/carrusel.html')}}">El carrusel</a></div>
       <div class="siete op7"><a href="{{url_for('static' , filename='html/gusanito.html')}}">El gusanito</a></div>
       <div class="ocho op8"><a href="{{url_for('static', filename='html/Tacitas.html')}}">Tacitas</a></div></div>
    <div class="circulito">
  </menu>


  <footer><p>Autores:Barrera Lopez,Fransisco Hernandez,Hernandez Perez,Montes Rodriguez,Villa Martinez. Fecha de modificación:07/05/24</p></footer>
</body>
</html>