.parrafo img{float:left;}	
div{text-align:center;padding:1%;}






p {
  font-family: cursive;
}


body{

     background-color: #d2adff;
     }


h1{
  text-align: center;
  background-color: #f2cdf966; 
  color: #f4c8f4;
  width: 400px;
  height: 50px;
   border-radius: 10px;
   text-shadow: 2px 2px 4px #8000ff;

  }   

h2{
  background-color: #f2cdf966; 
  color: #f4c8f4;
  width: 180px;
  height: 50px;
   border-radius: 10px;
   text-shadow: 2px 2px 4px #8000ff;
   position:absolute;
    left:50%;
    top:5%;
}

.barquito{width:150px;
height:190px;
background-image:url(../img/barquitoatraccion.png);
animation: run 0.9s  infinite steps(10);}

.gusanito{ width: 200px;
  height: 100px;
background-image:url(../img/gusanitooo.png);
  animation: run 5s  infinite steps(10);
         }

.carritos{ width: 200px;
  height: 120px;
background-image:url(../img/carritoschocones.png);
  animation: run 1s  infinite steps(10);
         }


.montana{ width: 200px;
  height: 100px;
background-image:url(../img/montañarusa.png);
  animation: run  10s  infinite steps(10);
         }

.tazitas{width:200px;
height:160px;
background-image:url(../img/tacitas.jpeg);
animation: run 0.8s  infinite steps(10);}

.rueda_fortuna{ width: 70px;
  height: 40px;
background-image:url(../img/rueda.png);
  animation: run 1s  infinite steps(10);
         }


.kamikase{ width: 100px;
  height: 30px;
background-image:url(../img/martillo.png);
  animation: run  10s  infinite steps(10);
         }
.carrusel{width:200px;
height:110px;
background-image:url(../img/caruselanima.png);
animation: run 1.5s  infinite steps(10);}

@keyframes run{
from{
background-position:0% 0%;} 
to{
  background-position:1500% 0%;}
}
